{
	"recipients": [
		"email": "example@email.com",
		"email": "example2@email.com",
	],
	"smtp": {
		"host": "smtp.example.com",
		"username": "user",
		"password": "password",
		"send_email": "example@email.com"
		"auth": true,
		"secure": "tls",
		"port": 587
	},
	"servers": [
		{
			"host": "domain.com",
			"ip": "192.192.192.191"
		},
		{
			"host": "domain2.com",
			"ip": "192.192.192.192"
		}

	]
}